<h1>ログイン</h1>

<%= form_with url: session_path do |form| %>
  <%= form.label :name, "User name" %>
  <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username" %>
  <%= form.submit "続ける" %>
<% end %>
