<h1><%= current_user.name %></h1>

<p>ログインしています。</p>

<button type="button" id="webauthn-registration" data-options-url="<%= options_webauthn_credentials_path %>">
  パスキーを登録
</button>
<p id="webauthn-registration-status"></p>

<%= button_to "ログアウト", session_path, method: :delete %>
